



/** Css for Footer **/

footer h3 {
    text-decoration: none;
    display: flex;
    text-align: center;
    padding-left: 40px;
  }

.footer__address li {
    list-style: none;
}

.column {
    float: left;
    width: 25%;
    margin-top: 50px;
    background-color: blanchedalmond;
  }
  
  .footer__address__portfolio {
    margin-right: 20px;
    list-style: none;
  }


  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }