/* ___________________________section card_____________________ */
body{
    border-color: rgb(9, 220, 228);
    border-style: solid;
    border-width: 10px;
    margin: 60px;
    margin-top: 60px;
    padding: 50px;
  }

/**___________________________header_____________________*/


header {
  width: 100%;

}
h1{
  font-size: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  margin-top: unset;
}

h4{
  margin: unset;
}
.header{
  display: flex;
  margin-left: 30px;
  margin-bottom: 30px;
}
.promotion{
  display: flex;
  flex-direction: column;
  width: 15%;
  margin-left: 30px;
}
.promotion select{
  border-radius: 1px;
}
.promo{
  font-weight: bold;
}
.competences{
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-right: none;
 
}
.recherche{
  width: 50%;
  margin-left: 80px;
  padding-top: 15px
}

.recherche input{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  height: 20px;
  border-radius: 20px;
  border-width: 1px;
  background-image: url('../image/icone-loupe-noir.png');
  background-repeat: no-repeat;
  text-indent: 30px;
  background-position: 5px;
  
}

img{
  width: 300px;
  height: 300px;
}
.choix{
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}

/**__________________________________header________________________________*/

/* Card */
.card-holder {
    width: 280px;
    height: 380px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    display: inline-block;
    text-align: center;
  }
  
  .card-holder img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-holder h3 {
    margin-top: 20px;
    font-size: 24px;
  }


/**__________________________________footer__________________________________*/

footer h3 {
  text-decoration: none;
  display: flex;
  text-align: center;
  padding-left: 40px;
}

.footer__address li {
  list-style: none;
}

.column {
  float: left;
  width: 25%;
  margin-top: 50px;
  background-color: blanchedalmond;
}

.footer__address__portfolio {
  margin-right: 20px;
  list-style: none;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}