






/** Css for Footer **/

.footer {
    margin-top: 150px;
    padding-top: 100px;
}

.column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }




